extends ../_bootstrap
block body
    .container
        .content
            .row
                .col-md-12
                    .col-md-3
                    .col-md-9
                        h3.title-bg-line-bl
                            span 机构设置
                        
                            

