doctype html
html
    head
        meta(charset='UTF-8')
        meta(http-equiv="X-UA-Compatible", content="text/html")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        meta(name="description",content="")
        meta(name="author",content="")
        title= title
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
        link(rel='stylesheet prefetch', href='/css/bootstrap.min.css')
        //- link(rel='stylesheet prefetch', href='/css/bootstrap.min.css.map')
        link(rel='stylesheet prefetch', href='/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/sidebar.css')
        //link(rel='stylesheet', href='/css/theme.css')
        block ueditor
    body(data-spy="scroll",data-target=".scrollspy")
        header.main-header
            nav.navbar.navbar-default.navbar-fixed-top(style='background-color: #3e454c;')
                if  user
                    ul.nav.navbar-nav.navbar-right(style='font-size:15px;float: right!important;position: relative ; margin-right:20px;')
                        li
                            a(href='/manage/newapplication', data-toggle='modal', data-target='#signup-modal')
                                i.fa.fa-fw.fa-bell
                                span#total.badge
                        li.dropdown
                            a.dropdown-toggle(href='', data-toggle='dropdown', role='button', aria-expanded='false' style='color: #ddd;')
                                i.fa.fa-fw.fa-user
                                | #{user.userName}
                                span.caret
                            ul.dropdown-menu(role='menu')
                                li
                                    a(href='/user/editprofile') 修改信息
                                li
                                    a(href='/user/applist') 我的申请
                                li
                                    a(href='/logout') 退出
        #wrapper.toggled
            nav#sidebar-wrapper.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
                    ul.nav.sidebar-nav
                        li.sidebar-brand
                            a(href='/' target="_blank")
                                | 传媒系
                        li
                            a(href='#')
                                i.fa.fa-fw.fa-home
                                |  Home
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown' aria-expanded='true')
                                i.fa.fa-fw.fa-folder-open
                                |  文档管理
                                span.caret
                            ul.dropdown-menu(role='menu')
                                li
                                    a(href='/manage/content/addnew' )
                                        i.fa.fa-fw.fa-pencil-square-o
                                        |文档录入
                                li
                                    a(href='/manage/content/list')
                                        i.fa.fa-fw.fa-list-ul
                                        |文档列表
                                li
                                    a(href='/manage/content/carousel')
                                        i.fa.fa-fw.fa-upload
                                        |图片上传
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                i.fa.fa-fw.fa-cogs
                                |  实验室管理
                                span.caret
                            ul.dropdown-menu(role='menu')
                                li
                                    a(href='/manage/newapplication')
                                        i.fa.fa-fw.fa-bell
                                        |借出申请
                                        span.badge.hide
                                li
                                    a(href='/manage/application/list')
                                        i.fa.fa-fw.fa-list-ul
                                        |申请列表
                                li
                                    a(href='#')
                                        i.fa.fa-fw.fa-exclamation-triangle
                                        |到期未还
                                        span.badge.hide
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                i.fa.fa-fw.fa-address-book-o
                                |  用户管理
                                span.caret
                            ul.dropdown-menu(role='menu')
                                li
                                    a(href='/manage/user/new')
                                        i.fa.fa-fw.fa-user
                                        |新增用户
                                li
                                    a(href='/manage/user/list')
                                        i.fa.fa-fw.fa-list-ul
                                        |用户列表
                                //- li
                                //-     a(href='#')
                                //-         i.fa.fa-fw.fa-exclamation-triangle
                                //-         |权限管理


            // /#sidebar-wrapper
            // Page Content
            #page-content-wrapper
                button.hamburger.is-open.animated.fadeInLeft(type='button', data-toggle='offcanvas')
                    span.hamb-top
                    span.hamb-middle
                    span.hamb-bottom
            block body
        //- include ../footer

        script(src="/js/jquery.min.js")
        script(src="/js/bootstrap.min.js")
        script(src='/js/sidebar.js')
    block scripts
