doctype html
html(lang="zh-CN")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1, height=device-height")
		meta(name="description",content="")
		meta(name="author",content="")
		//- link(rel="icon",href="/icon/chuanmeixi.ico")
		title= title·····
		link(rel="stylesheet",href="/css/bootstrap.min.css")
		//- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
		link(href='/css/theme.css', rel='stylesheet')
		block stylesheets
	body(data-spy="scroll",data-target=".scrollspy" )
		header(style='background-color:#63a3bf;height:200px')
			.container
				//- img(src='/images/logo2.png')
		nav.navbar.navbar-default
			.container(style='margin-bottom: 0px')
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/') 传媒系
				#navbar.navbar-collapse.collapse
					ul.nav.navbar-nav
						li
							a(href='/') 首页
						li#first.dropdown
							a.dropdown-toggle(href='/11', data-toggle='dropdown', role='button', aria-expanded='false')
								| 系部概况
								span.caret
							ul.dropdown-menu(role='menu')
								li
									a(href='/about/setting') 机构设置
								li
									a(href='#') 师资队伍
						li.dropdown
							a.dropdown-toggle(href='/teach', data-toggle='dropdown', role='button', aria-expanded='false')
								| 教学科研
								span.caret
							ul.dropdown-menu(role='menu')
								li
									a(href='/about') 专业建设
								li
									a(href='#') 课程建设
								li
									a(href='#') 教学条件建设
								li
									a(href='#') 教学活动
								li
									a(href='#') 学生作品
						li.dropdown
							a.dropdown-toggle(href='/teach', data-toggle='dropdown', role='button', aria-expanded='false')
								| 党团建设
								span.caret
							ul.dropdown-menu(role='menu')
								li
									a(href='/about') 党建共组
								li
									a(href='#') 团学工作
						li.dropdown
							a.dropdown-toggle(href='/teach', data-toggle='dropdown', role='button', aria-expanded='false')
								| 信息交流
								span.caret
							ul.dropdown-menu(role='menu')
								li
									a(href='') 合作交流
								li
									a(href='') 就业信息
								li
									a(href='') 校友风采
								li
									a(href='') 规章制度
								li
									a(href='') 相关下载
						li
							a(href='/news') 新闻动态
						li
							a(href='/labmanage') 实验室管理
					if  user
						ul.nav.navbar-nav.navbar-right(style='font-size:10px')
							li.dropdown
								a.dropdown-toggle(href='/teach', data-toggle='dropdown', role='button', aria-expanded='false')
									| #{user.userName}
									span.caret
								ul.dropdown-menu(role='menu')
									li
										a(href='/user/editprofile') 修改信息
									li
										a(href='/user/applist') 我的申请
									li
										a(href='/logout') 退出
					else
						ul.nav.navbar-nav.navbar-right(style='font-size:10px')
							li
								a(href='', data-toggle='modal', data-target='#signup-modal')
									span.glyphicon.glyphicon-user 注册
							li
								a(href='', data-toggle='modal', data-target='#login-modal')
									span.glyphicon.glyphicon-log-in
									|  登录
			#login-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', style='display: none;')
				.container
					#loginbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2(style='margin-top:100px;')
						.panel.panel-info
							.panel-heading
								.panel-title 登录
								div(style='float:right; font-size: 100%; position: relative; top:-20px')
									span.glyphicon.glyphicon-remove(role='button' data-dismiss='modal')
							.panel-body(style='padding-top:30px')
								form#loginform.form-horizontal(method='post' action='/login')
									#login-notice.alert.alert-danger.hide
										| 错误提示！
									.input-group(style='margin-bottom: 25px')
										span.input-group-addon
											i.glyphicon.glyphicon-user
										input#login-username.form-control(type='text', name='user[userName]', value='', placeholder='用户名')
									.input-group(style='margin-bottom: 15px')
										span.input-group-addon
											i.glyphicon.glyphicon-lock
										input#login-password.form-control(type='password', name='user[password]', placeholder='密码')
									//- .input-group
									//- 	.checkbox
									//- 		label
									//- 			input#login-remember(type='checkbox', name='user[remember]', value='1')
									//- 			|  记住我
									.form-group(style='margin-top:10px')
										// Button
										.col-sm-4.col-sm-offset-2.controls
											button#btn-login.btn.btn-info(type='submit') 登录
										.col-sm-4.controls
											a(href='/user/forgot') 忘记密码
									.form-group
										.col-md-12.control
											div(style='border-top: 1px solid#888; padding-top:15px; font-size:85%')
												| 还没有账户!
												a#switch(role='button')
													|     点击注册
			#signup-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', style='display: none;')
				.container
					#signupbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2(style='margin-top: 250px;')
						.panel.panel-info
							.panel-heading
								.panel-title 注册
								div(style='float:right; font-size: 100%; position: relative; top:-20px')
									span.glyphicon.glyphicon-remove(role='button' data-dismiss='modal')
							.panel-body
								// Nav tabs
								ul.nav.nav-tabs(role='tablist')
									li.active(role='presentation')
										a(href='#home', aria-controls='home', role='tab', data-toggle='tab') 学生用户
									li(role='presentation')
										a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab') 教师用户

								// Tab panes
								.tab-content
									#home.tab-pane.active(role='tabpanel')
										form#student-signupform.form-horizontal(method='post' action='/signup')
											#student-signup-notice.alert.hide
												| 提示信息
											#student-signupform-main
												.form-group
													label.col-md-3.control-label(for='username') 用户名
													.col-md-9
														input.form-control(type='text', name='user[userName]', placeholder='用户名' required)
													.col-md-9.col-md-offset-3
														h5#userName.alert-danger.wrong-info.hide
															span.glyphicon.glyphicon-remove
															|错误信息
												.form-group
													label.col-md-3.control-label(for='password') 密码
													.col-md-9
														input.form-control(type='password', name='user[password]', placeholder='密码' required)
													.col-md-9.col-md-offset-3
														h5#password.alert-danger.wrong-info.hide
															span.glyphicon.glyphicon-remove
															|错误信息
												.form-group
													label.col-md-3.control-label(for='checkpw') 确认密码
													.col-md-9
														input.form-control(type='password', name='user[confirmPwd]', placeholder='确认密码' required)
													.col-md-9.col-md-offset-3
														h5#notConfirm.alert-danger.wrong-info.hide
															span.glyphicon.glyphicon-remove
															|错误信息
												.form-group
													label.col-md-3.control-label(for='name') 姓名
													.col-md-9
														input.form-control(type='text', name='user[name]', placeholder='姓名' required)
												.form-group
													label.col-md-3.control-label(for='email') 邮箱
													.col-md-9
														input.form-control(type='email', name='user[email]', placeholder='邮箱地址' required)
													.col-md-9.col-md-offset-3
														h5#email.alert-danger.wrong-info.hide
															span.glyphicon.glyphicon-remove
															|错误信息
												.form-group
													label.col-md-3.control-label(for='calss') 年级专业
													.col-md-9
														input.form-control(type='text', name='user[class]', placeholder='年级专业' required)
												.form-group
													label.col-md-3.control-label(for='studentId') 学号
													.col-md-9
														input.form-control(type='text', name='user[studentId]', placeholder='学号' required)
												.form-group.hide
													label.col-md-3.control-label(for='status') 身份
													.col-md-9
														input.form-control(type='text', name='user[status]', placeholder='学号' required value = 0)
												.form-group
													label.col-md-3.control-label(for='phone') 电话号码
													.col-md-9
														input.form-control(type='text', name='user[phoneNum]', placeholder='电话号码' required)
													.col-md-9.col-md-offset-3
														h5#phone.alert-danger.wrong-info.hide
															span.glyphicon.glyphicon-remove
															|错误信息
												.form-group
													// Button
													.col-md-offset-3.col-md-9
														button#btn-signup.btn.btn-info(type='submit') 提交
									#profile.tab-pane(role='tabpanel')
										form#lecturer-signupform.form-horizontal(method='post' action='/signup' )
											#lecturer-signup-notice.alert.alert-danger.hide
												| 错误提示
											#lecturer-signupform-main
												.form-group
													label.col-md-3.control-label(for='username') 用户名
													.col-md-9
														input.form-control(type='text', name='user[userName]', placeholder='用户名' required)
													.col-md-9.col-md-offset-3
														h5#userName-lecturer.alert-danger.wrong-info.hide
															span.glyphicon.glyphicon-remove
															|错误信息
												.form-group
													label.col-md-3.control-label(for='password') 密码
													.col-md-9
														input.form-control(type='password', name='user[password]', placeholder='密码' required)
													.col-md-9.col-md-offset-3
														h5#password-lecturer.alert-danger.wrong-info.hide
															span.glyphicon.glyphicon-remove
															|错误信息
												.form-group
													label.col-md-3.control-label(for='checkpw') 确认密码
													.col-md-9
														input.form-control(type='password', name='user[confirmPwd]', placeholder='确认密码' required)
													.col-md-9.col-md-offset-3
														h5#notConfirm-lecturer.alert-danger.wrong-info.hide
															span.glyphicon.glyphicon-remove
															|错误信息
												.form-group
													label.col-md-3.control-label(for='name') 姓名
													.col-md-9
														input.form-control(type='text', name='user[name]', placeholder='姓名' required)
												.form-group
													label.col-md-3.control-label(for='email') 邮箱
													.col-md-9
														input.form-control(type='email', name='user[email]', placeholder='邮箱地址' required)
													.col-md-9.col-md-offset-3
														h5#email-lecturer.alert-danger.wrong-info.hide
															span.glyphicon.glyphicon-remove
															|错误信息
												.form-group.hide
													label.col-md-3.control-label(for='status') 身份
													.col-md-9
														input.form-control(type='text', name='user[status]', placeholder='学号' required value = 1)
												.form-group
													label.col-md-3.control-label(for='phone') 电话号码
													.col-md-9
														input.form-control(type='text', name='user[phoneNum]', placeholder='电话号码' required)
													.col-md-9.col-md-offset-3
														h5#phone-lecturer.alert-danger.wrong-info.hide
															span.glyphicon.glyphicon-remove
															|错误信息
												.form-group
													// Button
													.col-md-offset-3.col-md-9
														button#btn-signup.btn.btn-info(type='submit') 提交

		block body
		include footer

		script(src="/js/jquery.min.js")
		script(src="/js/bootstrap.min.js")
		script(src='/js/jquery.form.min.js')

		//- script(src="/js/pagination.js")
	block scripts