doctype html
html(lang="zh-CN")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1, height=device-height")
		meta(name="description",content="")
		meta(name="author",content="")
		//- link(rel="icon",href="../../favicon.ico")
		title= title
		link(rel="stylesheet",href="/css/bootstrap.min.css")
		link(href='/css/theme.css', rel='stylesheet')
	body(data-spy="scroll",data-target=".scrollspy" )
		header(style='background-color:#63a3bf;height:200px')
			.container
				img(src='/images/logo2.png')
		nav.navbar.navbar-default
			.container(style='margin-bottom: 0px')
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/') 传媒系
				#navbar.navbar-collapse.collapse
					ul.nav.navbar-nav
						li
							a(href='/') 首页
						li#first.dropdown
							a.dropdown-toggle(href='/11', data-toggle='dropdown', role='button', aria-expanded='false')
								| 系部概况
								span.caret
							ul.dropdown-menu(role='menu')
								li
									a(href='/about/setting') 机构设置
								li
									a(href='#') 师资队伍
						li.dropdown
							a.dropdown-toggle(href='/teach', data-toggle='dropdown', role='button', aria-expanded='false')
								| 教学科研
								span.caret
							ul.dropdown-menu(role='menu')
								li
									a(href='/about') 专业建设
								li
									a(href='#') 课程建设
								li
									a(href='#') 教学条件建设
								li
									a(href='#') 教学活动
								li
									a(href='#') 学生作品
						li.dropdown
							a.dropdown-toggle(href='/teach', data-toggle='dropdown', role='button', aria-expanded='false')
								| 党团建设
								span.caret
							ul.dropdown-menu(role='menu')
								li
									a(href='/about') 党建共组
								li
									a(href='#') 团学工作
						li.dropdown
							a.dropdown-toggle(href='/teach', data-toggle='dropdown', role='button', aria-expanded='false')
								| 信息交流
								span.caret
							ul.dropdown-menu(role='menu')
								li
									a(href='') 合作交流
								li
									a(href='') 就业信息
								li
									a(href='') 校友风采
								li
									a(href='') 规章制度
								li
									a(href='') 相关下载
						li
							a(href='/news') 新闻动态
						li
							a(href='#') 实验室管理

					ul.nav.navbar-nav.navbar-right(style='font-size:10px')
						li
							a(href='#', data-toggle='modal', data-target='#signup-modal')
								span.glyphicon.glyphicon-user
								|  注册
						li
							a(href='#', data-toggle='modal', data-target='#login-modal')
								span.glyphicon.glyphicon-log-in
								|  登录
			#login-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', style='display: none;')
				.container
					#loginbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2(style='margin-top:250px;')
						.panel.panel-info
							.panel-heading
								.panel-title 登录
								div(style='float:right; font-size: 100%; position: relative; top:-20px')
									span.glyphicon.glyphicon-remove(role='button' data-dismiss='modal')
							.panel-body(style='padding-top:30px')
								#login-alert.alert.alert-danger.col-sm-12(style='display:none')
								form#loginform.form-horizontal(role='form')
									.input-group(style='margin-bottom: 25px')
										span.input-group-addon
											i.glyphicon.glyphicon-user
										input#login-username.form-control(type='text', name='username', value='', placeholder='username or email')
									.input-group(style='margin-bottom: 15px')
										span.input-group-addon
											i.glyphicon.glyphicon-lock
										input#login-password.form-control(type='password', name='password', placeholder='password')
									.input-group
										.checkbox
											label
												input#login-remember(type='checkbox', name='remember', value='1')
												|  记住我
									.form-group(style='margin-top:10px')
										// Button
										.col-sm-4.col-sm-offset-2.controls
											a#btn-login.btn.btn-success(href='#') 登录
										.col-sm-4.controls
											a(href='#') 忘记密码
									.form-group
										.col-md-12.control
											div(style='border-top: 1px solid#888; padding-top:15px; font-size:85%')
												| 还没有账户!
												a(href='#', onclick="$('#loginbox').hide(); $('#signupbox').show()")
													|     点击注册
			#signup-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', style='display: none;')
				.container
					#signupbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2(style='margin-top: 250px;')
						.panel.panel-info
							.panel-heading
								.panel-title 注册
								div(style='float:right; font-size: 100%; position: relative; top:-20px')
									span.glyphicon.glyphicon-remove(role='button' data-dismiss='modal')
							.panel-body
								form#signupform.form-horizontal(role='form')
									.form-group
										label.col-md-3.control-label(for='username') 用户名
										.col-md-9
											input.form-control(type='text', name='firstname', placeholder='用户名')
									.form-group
										label.col-md-3.control-label(for='name') 姓名
										.col-md-9
											input.form-control(type='text', name='name', placeholder='姓名')
									.form-group
										label.col-md-3.control-label(for='email') 邮箱
										.col-md-9
											input.form-control(type='text', name='email', placeholder='邮箱地址')
									.form-group
										label.col-md-3.control-label(for='password') 密码
										.col-md-9
											input.form-control(type='password', name='passwd', placeholder='密码')
									.form-group
										label.col-md-3.control-label(for='icode') 确认密码
										.col-md-9
											input.form-control(type='text', name='icode', placeholder='确认密码')
									.form-group
										// Button
										.col-md-offset-3.col-md-9
											button#btn-signup.btn.btn-info(type='button')
												i.icon-hand-right
												| 提交


		block body
		include footer

		script(src="/js/jquery.min.js")
		script(src="/js/bootstrap.min.js")
		script(src="/js/load.js")
		//- script(src="/js/pagination.js")
	block scripts