footer.mainfooter
    .container
        .row
            .col-md-4
                div.widget
                    h4.foottitle 关于我们
                    h5 呼和浩特民族学院传媒系
                    h6 地址：内蒙古自治区呼和浩特市新城区通道北路56号都林楼5层
                    h6 邮编：010051
                    h6
                        span.glyphicon.glyphicon-phone-alt(aria-hidden="true")
                        |0471-2213544
                    h6
                        a(href='mailto:gegerihu@gmail.com')
                            span.glyphicon.glyphicon-envelope(aria-hidden="true")
                            |gegerihu@gmail.com
            .col-md-4
                div.widget
                    h4.foottitle 标签云

            .col-md-4
                div.widget
                    h4.foottitle 友情链接
    .copyright
        .container
            .row
                span Copyright © 呼和浩特民族学院传媒系 2017 Designed and built by Gegerihu

