body{
    background: #ebebeb;
    font-family:"Microsoft YaHei","宋体","黑体","Helvetica Neue",Helvetica,Arial,sans-serif;;
  /* Margin bottom by footer height */
    
}

.baractive{
    font-color: #fff;
    background-color: #d9534f;
}
/*.container{
    margin-bottom: 10px;
}*/
.col-md-12, .col-md-6{
    margin:5px 0px 10px 0px;
    padding: 0 20px 0 20px;
}
.col-xs-12,.col-sm-6{
    padding: 0 20px 0 20px;

}
.navbar-default{
    background-color: ##f5f5f5;
    margin-bottom: 0px;
    border: 0;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
}
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}
.theme-showcase .navbar .container {
  width: auto;
}
.mainfooter {
  /* Set the fixed height of the footer here */
  background-color: #202020;
  color: #ffffff;
  padding:20px 0 0 ;
}
.mainfooter .container{
    margin-bottom: 0;
}

.widget {
    border-bottom: 1px;
    border-color: #fff; 
    padding: 0 40px;
    margin-bottom: 20px;
}
.widget a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
.title-bg-line-bl {
    border-left: 4px solid;
    border-color: #337ab7;
    position:relative;
}
.title-bg-line-bl:after {
    content: "";
    display: block;
    position: absolute;
    padding-left: 50px;
    z-index: 0;
    top: 50%;
    right: 0;
    left: 0;
    height: 1px;
    background-color:#337ab7; 
    box-sizing: inherit; 
    clear: both;
    }
.title-bg-line-bl > span {
    display: inline-block;
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding:0 10px 0 10px;
}
.title-bg-line-rd {
    border-left: 4px solid;
    border-color: #d9534f;
    position:relative;
}
.title-bg-line-rd:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    top: 50%;
    right: 0;
    left: 0;
    height: 1px;
    background-color:#d9534f; 
    box-sizing: inherit; 
    clear: both;

    }
.title-bg-line-rd > span {
    display: inline-block;
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding:0 10px 0 10px;
}
.title-bg-line-yl {
    border-left: 4px solid;
    border-color: #f0ad4e;
    position:relative;
}
.title-bg-line-yl:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    top: 50%;
    right: 0;
    left: 0;
    height: 1px;
    background-color:#f0ad4e; 
    box-sizing: inherit; 
    clear: both;
    }
.title-bg-line-yl > span {
    display: inline-block;
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding:0 10px 0 10px;
}

.content{
    background-color:#fff;
    padding:1px 10px 10px 10px;
    margin: 0px;
    position:relative; 
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.float_div{
    background-color: #fff;
    position:absolute;
    width:100px;
    height:30px;
    padding-left: 20px;
    right:10px;
    top:20px;
    }

.media-date{
    padding-left: 100px;
}
.media-date > i{
    padding:0px 0px 0px 10px;
}
a:hover{
    color:#ff6b6b;
    text-decoration: none;
}
.navbar-default .navbar-nav>li>a {
    color: #333;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    color: #fff;
    background-color: #d9534f;
}
.navbar-default .navbar-nav>li>a:hover{
    color: #fff;
    background-color: #d9534f;
}
.dropdown-menu>li>a {
    color: #fff;
    padding: 5px 20px 5px 15px;
   
}
.dropdown-menu{
    border: 0;
    padding: 0;
    color: #fff;
    background-color: #d9534f;
    font-size: 15px;
}
.dropdown-menu>li>a:hover{
    color: #333;
    background-color: #fff;
    border-radius: 4px;
}
.foottitle
{   position:relative;
    border-color: #fff;
    border-bottom: 1px solid;
    padding-bottom: 10px;    

}

.list-group{
    padding-left: 20px;
    margin-bottom: 10px;

}
.list-group-item{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.foottitle:after
{
    content: "";
    width: 90px;
    height: 1px;
    background: #d9534f;
    position: absolute;
    left: 0;
    bottom: -1px;
}
.copyright{
    background: #111;
    font-size: 13px;
    text-align: center;
    color: #777;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #303030;
}

.glyphicon {
    padding-right:5px;
}
.list-group-item {
    border:0;  
    margin-bottom: 0;
    border-bottom:1px solid #ddd !important;
}
.list-group-item:last-child {
    margin-bottom: -1px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.post .post-meta {
    color: #999;
    margin: 9px 0 0;
    padding: 0;
    text-align: left;
}
.post .post-meta li {
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
}

ul li {
    list-style-type: none;
}

.post-list .post:last-child {
    border: none
}

.post-list .post {
    border-bottom: 1px solid #f0f0f0;
}

.post {
    padding: 10px 0 20px;
}

.post img {
    max-width: 100%;
}

.post .post-title {
    margin: 0;
    color: #555;
    text-align: left;
}

.post .post-title a {
    color: #555555
}

.post .post-meta {
    color: #999;
    margin: 9px 0 0;
    padding: 0;
    text-align: left;
}

.post .post-meta li {
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
}

.post .post-meta li i {
    font-size: 14px;
}

.post .post-content {
    color: #444;
    font-size: 15px;
    line-height: 1.715;
    padding-top: 10px;
}

.post .comment-count {
    float: right;
    margin-top: -30px;
}

.archive-title {
    color: #999;
    font-size: 1em;
    margin: 0 0 20px;
}