extends layout
block content
  #breadcrumb
    ul
      li.first You Are Here
      li  » 
      li
        a(href='/aboutus') 系部概况
  #wrapper
    // START WRAPPER ##############################################################
    #content
      h1.center 呼和浩特民族学院传媒系简介
      img.imgr(src='images/imgr.gif', alt='', width='220', height='220')
      p.text
        |传媒系组建于1989年，是全国首个用蒙古语授课的传媒类系别，建系以来向全国蒙古语新闻媒体输送了3000余名新闻、编辑、播音、主持、摄影人才。被称为“蒙古族传媒人才的摇篮”。很多毕业生已成为全国蒙古语新闻媒体的高级管理人才和优秀的业务骨干。
      p.text
        |传媒系现有新闻学、播音与主持艺术、摄影艺术三个本科专业。在校生人数350余名。师资队伍中专任教师24名，其中教授5名，副教授3名，讲师9名，具有研究生以上学历的教师13名，博士1名，在读博士2名。传媒系一贯重视师资队伍的建设，为进一步提高教师的专业理论知识先后派了12名教师到中国人民大学，中国传媒大学，复旦大学，兰州大学等国内著名高校进修学习深造。
      p.text
        |传媒系现有新闻学、播音与主持艺术、摄影艺术三个本科专业。在校生人数350余名。师资队伍中专任教师24名，其中教授5名，副教授3， 讲师9名，具有研究生以上学历的教师13名，博士1名，在读博士2名。传媒系一贯重视师资队伍的建设，为进一步提高教师的专业理论知先后派了12名教师到中国人民大学，中国传媒大学，复旦大学，兰州大学等国内著名高校进修学习深造。
        
      p.text
        |建系以来，先后编写了《 新闻采访与写作 》等 20 部普通高校通用蒙文教材，承担完成了10余项国家和自治区级科研课题，编写发表了300余篇专业学术论文，为蒙古语新闻理论教学和新闻业务研究奠定了基础。
      p.text
        |2010 年升本以来，投入1400余万元新建设了非编室、摄影棚、演播厅、视频制作室、仪器设备库、录音棚等教学设施，进一步优化和提升了教学环境和教育教学质量。传媒系继续深化教学改革，为内蒙古自治区及蒙古语协作八省区蒙文纸质媒体、蒙古语广播电视、网络新媒体及相关宣传部门和新闻传播机构培养从事新闻采访、编辑、摄影、摄像、制作、播音、主持等工作的应用型人才而努力。建系二十余年来，以蒙古语传媒专业为教学重点的学科研究持续深入发展，研究领域日趋拓宽，新的专业生长点不断提增，为明天的更好发展奠定了扎实的基础。
        br
        br
      h1.center 呼和浩特民族学院演播厅简介
        br
        br
        img.imgl(src='images/demo/imgl.gif', alt='', width='220', height='220')
      p.text
        |呼和浩特民族学院演播厅主要用于新闻学、摄影、播音与主持艺术专业学生的实践教学活动顺利开展的基础上，同时在学院各部门提供迎新晚会、毕业汇报演出、各类比赛以及综艺类节目的录制服务，发挥演播厅最大的教学效益和利用率。建筑面积为800㎡，1个演播大厅，1间导播室，1间化妆间和5间录音棚组成。
      p.text
        |演播厅皆按照技术领先、发展超前的理念设计建造，视频、音频系统全部采用世界顶级的全高清数字设备和品牌，灯光系统和声学系统完全采用全新的设计规范和标准，演播厅系统不仅实现全高清节目的录制和直播，还可以变换为数字标清节目的录制和直播，具备完善的高、标清兼容系统功能。演播室除了在硬件上投入了最顶级的专业视频、音频及灯光设备，还做到了在系统连接上的灵活跳线，根据不同的节目需要，实现不同的系统连接及工作方式。为保证录制效果的高质量我们还全部采用了顶级液晶监视器。演播室不仅配备了硬盘录像机，字幕机，两个大型调音台的双备份使用，还配备了光端设备以实现和各电视台的信号传输，达到直播功能。 演播室系统可以将音频工作站、非编制作等各类子系统置入到演播室中，真正实现了节目录制和制作一体化，极大提高了节目制播的效率和安全性，具备了全区高校领先的技术设备条件。
      p.text
        |从2014年投入使用至今已承担了《照明技术》、《录音与音频编辑》、《电视摄像》、《影视摄影技术》、《蒙古语标准音训练》等课程教学任务并承担了学院各部门提供迎新晚会、毕业汇报演出、各类比赛以及综艺类节目的录制服务，共累计70多场次的服务，对学院教学科研以及各项活动顺利开展提供有效的保障。
    #column
      .subnav
        h2 快速导航
        ul
          li
            a(href='') 
          li
            a(href='#') Free CSS Templates
            ul
              li
                a(href='#') Free XHTML Templates
              li
                a(href='#') Free Website Templates
          li
            a(href='#') Open Source Layouts
            ul
              li
                a(href='#') Open Source Software
              li
                a(href='#') Open Source Webdesign
                ul
                  li
                    a(href='#') Open Source Downloads
                  li
                    a(href='#') Open Source Website
          li
            a(href='#') Open Source Themes
      
        br.clear
    // END WRAPPER ##############################################################
    br.clear
  // END ALL
  include foot