#footer
  .footbox
    h2 Lacus interdum
    ul
      li
        a(href='#') Lorem ipsum dolor
      li
        a(href='#') Suspendisse in neque
      li
        a(href='#') Praesent et eros
      li
        a(href='#') Lorem ipsum dolor
      lis
        a(href='#') Suspendisse in neque
      li.last
        a(href='#') Praesent et eros
  .footbox
    h2 Lacus interdum
    ul
      li
        a(href='#') Lorem ipsum dolor
      li
        a(href='#') Suspendisse in neque
      li
        a(href='#') Praesent et eros
      li
        a(href='#') Lorem ipsum dolor
      li
        a(href='#') Suspendisse in neque
      li.last
        a(href='#') Praesent et eros
  .footbox
    h2 Lacus interdum
    ul
      li
        a(href='#') Lorem ipsum dolor
      li
        a(href='#') Suspendisse in neque
      li
        a(href='#') Praesent et eros
      li
        a(href='#') Lorem ipsum dolor
      li
        a(href='#') Suspendisse in neque
      li.last
        a(href='#') Praesent et eros
  .footbox
    h2 Lacus interdum
    ul
      li
        a(href='#') Lorem ipsum dolor
      li
        a(href='#') Suspendisse in neque
      li
        a(href='#') Praesent et eros
      li
        a(href='#') Lorem ipsum dolor
      li
        a(href='#') Suspendisse in neque
      li.last
        a(href='#') Praesent et eros
  .footbox.last
    h2 Lacus interdum
    ul
      li
        a(href='#') Lorem ipsum dolor
      li
        a(href='#') Suspendisse in neque
      li
        a(href='#') Praesent et eros
      li
        a(href='#') Lorem ipsum dolor
      li
        a(href='#') Suspendisse in neque
      li.last
        a(href='#') Praesent et eros
  br.clear
 #copyright
  p.center
    br
    | Copyright © 2017 - All Rights Reserved - 呼和浩特民族学院传媒系
    br
    | 地址：内蒙古自治区呼和浩特市新城区通道北路56号都林楼5楼 |   邮编：010051
    br
    |Designed and rebuilt by GGRH
   
 