#intro
  .fl_left
    a(href='#')
      img(src='images/1.jpg', alt='')
  .fl_right
    h2 Indonectetus facilis leo nibh
    p
      | Nullamlacus dui ipsum conseque loborttis non euis que morbi penas dapibulum orna.ultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feuAdipiscini apellentum leo ut consequam ris felit elit id nibh.
    ul
      li » Lorem ipsum dolor sit amet, consectetur adip.
      li » Fusce eu odio vitae justo molestie porta in
      li » Aliquam vel tellus lectus, eu dictum elit.
    p
      | Nullamlacus dui ipsum conseque loborttis non euis que morbi penas dapibulum orna.ultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat.
    ul.topline
      li
        a(href='#')
          img(src='images/2.jpg', alt='')
      li
        a(href='#')
          img(src='images/3.jpg', alt='')
      li.last
        a(href='#')
          img(src='images/4.jpg', alt='')
  br.clear
#wrapper
  // START WRAPPER ##############################################################
  .hpage
    ul#latest
      li
        h2 Indonectetus facilis leo nibh
        p.imgholder
          img(src='images/5.jpg', alt='')
        p
          | Nullamlacus dui ipsum conseqlo bo rttis non euisque morbipen asda pibulum orna. 
          a(href='#') More »
      li
        h2 Indonectetus facilis leo nibh
        p.imgholder
          img(src='images/6.jpg', alt='')
        p
          | Nullamlacus dui ipsum conseqlo bo rttis non euisque morbipen asda pibulum orna. 
          a(href='#') More »
      li.last
        h2 Indonectetus facilis leo nibh
        p.imgholder
          img(src='images/7.jpg', alt='')
        p
          | Nullamlacus dui ipsum conseqlo bo rttis non euisque morbipen asda pibulum orna. 
          a(href='#') More »
    br.clear
  .hpage
    .hpagebox
      h2 Ipsumsenterdum non velit
      p
        | This is a W3C standards compliant free website template from 
        a(href='http://www.cssmoban.com/', title='模板之家') 模板之家
        | .
      p
        | This template is distributed using a 
        a(href='#') Website Template Licence
        | , which allows you to use and modify the template for both personal and commerciawhen you keep the provided credit links in the footer.
      p
        | For more CSS templates visit 
        a(href='#') Free Website Templates
        | .
      p.readmore
        a(href='#') Continue Reading »
    .hpagebox
      h2 Ipsumsenterdum non velit
      p
        | Morbitincidunt maurisque eros molest nunc anteget sed vel lacus mus seAnterdumnullam interdum eros dui urna consequam ac nisl nullam ligula vestassa.
      p
        strong Cursusorci conseque mauristibulum
      p
        | Condimentumfelis et amet tellent quisquet a leo lacus nec augue accumsan. Sagittisldolor ipsum at urna et pharetium malesuada nis consectus odio.
      p
        strong Cursusorci conseque mauristibulum
    .hpagebox.last
      h2 Ipsumsenterdum non velit
      p Morbitincidunt maurisque eros molest nunc anteget sed vel lacus mus semper.
      ul
        li Tel: xxxxx xxxxxxxxxx
        li Fax: xxxxx xxxxxxxxxx
        li
          | Email: 
          a(href='#') me@mydomain.com
      p
        strong Join our mailing list:
      form(action='#', method='post')
        fieldset
          legend News Letter
          input(type='text', value='Enter Email Here…', onfocus="this.value=(this.value=='Email Here…')? '' : this.value ;")
          input#news_go(type='submit', name='news_go', value='GO')
    br.clear
  // END WRAPPER ##############################################################
  br.clear
// END ALL
#footer
  .footbox
    h2 Lacus interdum
    ul
      li
        a(href='#') Lorem ipsum dolor
      li
        a(href='#') Suspendisse in neque
      li
        a(href='#') Praesent et eros
      li
        a(href='#') Lorem ipsum dolor
      li
        a(href='#') Suspendisse in neque
      li.last
        a(href='#') Praesent et eros
  .footbox
    h2 Lacus interdum
    ul
      li
        a(href='#') Lorem ipsum dolor
      li
        a(href='#') Suspendisse in neque
      li
        a(href='#') Praesent et eros
      li
        a(href='#') Lorem ipsum dolor
      li
        a(href='#') Suspendisse in neque
      li.last
        a(href='#') Praesent et eros
  .footbox
    h2 Lacus interdum
    ul
      li
        a(href='#') Lorem ipsum dolor
      li
        a(href='#') Suspendisse in neque
      li
        a(href='#') Praesent et eros
      li
        a(href='#') Lorem ipsum dolor
      li
        a(href='#') Suspendisse in neque
      li.last
        a(href='#') Praesent et eros
  .footbox
    h2 Lacus interdum
    ul
      li
        a(href='#') Lorem ipsum dolor
      li
        a(href='#') Suspendisse in neque
      li
        a(href='#') Praesent et eros
      li
        a(href='#') Lorem ipsum dolor
      li
        a(href='#') Suspendisse in neque
      li.last
        a(href='#') Praesent et eros
  .footbox.last
    h2 Lacus interdum
    ul
      li
        a(href='#') Lorem ipsum dolor
      li
        a(href='#') Suspendisse in neque
      li
        a(href='#') Praesent et eros
      li
        a(href='#') Lorem ipsum dolor
      li
        a(href='#') Suspendisse in neque
      li.last
        a(href='#') Praesent et eros
  br.clear
#copyright
  p.fl_left
    | Copyright © 2011 - All Rights Reserved - 
    a(href='#') Domain Name
  p.fl_right
    | Template from 
    a(href='http://www.cssmoban.com/', title='网站模板') 网站模板
  br.clear